
admin_passwd = 
connect_api_key = 
connect_client = Compassion.CH
connect_secret = 
connect_token_cert = 
connect_token_endpoint = 
connect_token_issuer = 
connect_token_server = 
connect_url = 
csv_internal_sep = ,
data_dir = /home/{user}/.local/share/Odoo
db_host = False
db_maxconn = 64
db_name = test_v10
db_password = test
db_port = 5432
db_template = template1
db_user = quentin
detect_language_api_key = 
email_from = False
geoip_database = /usr/share/GeoIP/GeoLite2-City.mmdb
gp_pictures = /test_photos/
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_request = 8192
limit_time_cpu = 60
limit_time_real = 120
limit_time_real_cron = -1
list_db = True
log_db = False
log_db_level = warning
log_handler = :INFO
log_level = info
logfile = False
logrotate = False
longpolling_port = 8072
max_corn_threads = 2
mysql_translate_db = traduction test
mysql_translate_host = metier.compassion.ch
mysql_translate_pw = 
mysql_translate_user = 
osv_memory_age_limit = 1.0
osv_memory_count_limit = False
pg_path = None
pidfile = False
proxy_mode = False
reportgz = False
sendgrid_api_key = 
sendgrid_test_address = test@address.ch
server_wide_modules = web, web_kanban
smb_ip = 
smb_port = 139
smb_pwd = 
smb_user = 
wordpress_host = 
wordpress_pwd = 
wordpress_user = 
workers = 0
wp_csv_path = /home/clients/06d8eab33e523b29a0fa9d4db2b89230/web/wp-content/plugins/child-import-odoo/uploads
wp_pictures_path = /home/clients/06d8eab33e523b29a0fa9d4db2b89230/web/wp-content/uploads/child-import
wp_sftp_host = 
wp_sftp_pwd = 
wp_sftp_user = 
xmprpc = True
xmlrpc_interface = 
xmlrpc_port = 8069

[queue_job] 
